@use "../presets" as *;
@use "../mixins" as *;

// toggle works by css now instead of js
.posts {
    display: grid;
    gap: 30px;
    padding-block: 30px;
    padding-inline: 30px;
    background-color: $color-grey-100;

    .switch {
        display: none;
    }

    .news-articles {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        gap: 2px;
        height: 42px;
        width: 232px;
        margin-inline: auto;
        padding: 2px;
        background-color: $color-grey-300;
        border-radius: 12px;
        font-size: 16px;
        font-weight: $font-weight-bold;
        color: $color-main-300;

        &__news,
        &__articles,
        &__toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 38px;
            width: 113px;
            border-radius: 10px;
            transition: background-color .5s;
            cursor: pointer;
        }

        &__news:hover,
        &__articles:hover {
            background-color: $color-grey-100;
        }

        &__toggle {
            justify-self: start;
            position: absolute;
            top: 2px;
            left: 2px;
            background-color: $color-white;
            transition: transform .3s ease-out;
        }
    }

    .switch:checked + .news-articles .news-articles__toggle {
        transform: translateX(115px);
    }

    .switch:checked ~ .posts__gallery > .news {
        display: none;
    }

    .switch:not(:checked) ~ .posts__gallery > .articles {
        display: none;
    }

    .news,
    .articles {
        display: grid;
        gap: 30px;

        &__item {
            background-color: $color-white;
            border-radius: 8px;
            overflow: hidden;
        }

        &__info {
            display: grid;
            gap: 15px;
            align-content: baseline;
            padding-block: 30px;
            padding-inline: 30px;
        }

        &__link {
            font-size: 1rem;
            font-weight: $font-weight-bold;
            line-height: 20px;
            color: $color-blue-100;
            transition: color .5s;
    
            &:focus-visible,
            &:hover,
            &:active {
                color: $color-accent;
            }
        }

        &__date {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: $font-weight-bold;
            letter-spacing: 1px;
            color: $color-grey-400;
        }

        &__line {
            height: 4px;
            background-color: $color-grey-300;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            color: $color-black;
        }
    }

    .news {
        &__item:not(:last-of-type) {
            display: grid;
            grid-template-rows: 200px 1fr;
        }
        
        &__item:nth-of-type(1) .news__image {
            background: url('../images/publications/Publication-1.png');
        }
        
        &__item:nth-of-type(2) .news__image {
            background: url('../images/publications/Publication-2.png');
        }
        
        &__item:nth-of-type(3) .news__image {
            background: url('../images/publications/Publication-3.png');
        }

        &__item:nth-of-type(4) .news__image {
            background: url('../images/publications/Publication-4.png');
        }

        &__item:nth-of-type(5) .news__image {
            background: url('../images/publications/Publication-5.png');
        }
        
        &__item:not(:last-of-type):nth-of-type(n) .news__image {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    .articles {
        &__item {
            display: grid;
            grid-template-rows: 200px 1fr;
        }

        &__item:nth-of-type(1) .articles__image {
            background: url('../images/publications/articles/CriminalDefenseStrategies.png');
        }
        
        &__item:nth-of-type(2) .articles__image {
            background: url('../images/publications/articles/Cybersecurity.jpg');
        }
        
        &__item:nth-of-type(3) .articles__image {
            background: url('../images/publications/articles/Claims.jpg');
        }

        &__item:nth-of-type(4) .articles__image {
            background: url('../images/publications/articles/Discrimination.png');
        }

        &__item:nth-of-type(5) .articles__image {
            background: url('../images/publications/articles/RealEstate.png');
        }

        &__item:nth-of-type(6) .articles__image {
            background: url('../images/publications/articles/IntellectualPropertyRights.png');
        }
        
        &__item:nth-of-type(n) .articles__image {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__more {
        padding-block: 18px;
        padding-inline: 30px;
        margin-inline: auto;
        background-color: $color-blue-100;
        box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        font-size: 16px;
        font-weight: $font-weight-bold;
        color: $color-white;
        transition: background-color .5s;

        &:focus-visible,
        &:hover {
            background-color: $color-blue-200;
        }

        &:active {
            background-color: $color-blue-300;
        }
    }

    @include tablet-sd {
        padding-inline: 60px;
    
        .news,
        .articles {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include tablet-hd {
    
        .news,
        .articles {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include tablet-hd {
        padding-inline: 160px;
    }
}