@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  overflow-y: scroll;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  padding: 30px;
  background-color: rgb(245, 245, 250);
  transform: translate(-50%, -400%);
  opacity: 0;
  transition: all 1s ease-in-out;
  z-index: 9998;
}
.popup__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-block: 0px 30px;
}
.popup__cross {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  order: 2;
  font-size: 32px;
  background-color: transparent;
  border-radius: 8px;
  color: rgb(236, 111, 93);
  transition: background-color 0.5s;
}
.popup__cross:focus-visible, .popup__cross:hover {
  background-color: rgb(230, 230, 240);
}
.popup__title {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.popup__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popup__input, .popup__textarea {
  padding: 15px;
  border: 1px solid rgb(245, 245, 250);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 26px;
  color: rgb(0, 0, 0);
  outline: none;
  caret-color: rgb(36, 163, 255);
}
.popup__input {
  height: 56px;
}
.popup__textarea {
  height: 130px;
  resize: none;
}
.popup__input::-moz-placeholder, .popup__textarea::-moz-placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(179, 179, 186);
  line-height: 26px;
}
.popup__input::placeholder, .popup__textarea::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(179, 179, 186);
  line-height: 26px;
}
.popup__input:focus, .popup__textarea:focus {
  border: 1px solid rgb(36, 163, 255);
}
.popup__input:invalid, .popup__textarea:invalid {
  border: 1px solid rgb(255, 0, 0);
}
.popup__input:invalid::-moz-placeholder, .popup__textarea:invalid::-moz-placeholder {
  color: rgb(255, 0, 0);
}
.popup__input:invalid::placeholder, .popup__textarea:invalid::placeholder {
  color: rgb(255, 0, 0);
}
.popup__text {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 17px;
  letter-spacing: 1px;
  color: rgb(179, 179, 186);
}
.popup__submit {
  margin-top: 15px;
  padding-block: 18px;
  padding-inline: 30px;
  background-color: rgb(36, 163, 255);
  border-radius: 12px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  transition: all 0.5s;
}
.popup__submit:hover {
  background-color: rgb(0, 133, 255);
}
.popup__submit:active {
  background-color: rgb(0, 108, 207);
}
@media (min-width: 768px) {
  .popup {
    max-height: 612px;
    width: 85%;
    max-width: 650px;
    border-radius: 12px;
  }
}

.toolbox {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
}
.toolbox .menu {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  padding-inline: 15px;
  background-color: rgb(245, 245, 250);
}
.toolbox .menu--homepage, .toolbox .menu--services {
  background-color: rgba(245, 245, 250, 0.2);
}
.toolbox .menu__languages {
  display: flex;
  gap: 1px;
}
.toolbox .menu__languages input:checked + label {
  background-color: rgb(240, 20, 90);
  color: rgb(255, 255, 255);
}
.toolbox .menu__input {
  display: none;
}
.toolbox .menu__label {
  padding-block: 5px;
  padding-inline: 7px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(179, 179, 186);
  cursor: pointer;
}
.toolbox .menu__label--services, .toolbox .menu__label--homepage {
  color: rgb(255, 255, 255);
}
.toolbox .menu__list {
  display: none;
}
.toolbox .menu__callback {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  color: rgb(179, 179, 186);
}
.toolbox .menu__callback--services, .toolbox .menu__callback--homepage {
  color: rgb(255, 255, 255);
}
.toolbox .logo {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  padding-block: 15px 10px;
  margin-left: 15px;
}
.toolbox .logo__image {
  width: 70px;
}
.toolbox .logo__image[alt=slash] {
  width: 12px;
  height: 26px;
}
.toolbox .logo__image--homepage {
  display: none;
}
.toolbox .logo__text {
  font-size: 20px;
  line-height: 25px;
  color: rgb(50, 50, 100);
}
.toolbox .logo__text--services {
  color: rgb(255, 255, 255);
}
.toolbox .navbar {
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}
.toolbox .navbar__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(50, 50, 100);
}
.toolbox .navbar__burger--services, .toolbox .navbar__burger--homepage {
  color: rgb(255, 255, 255);
}
.toolbox .navbar__burger--active {
  background-color: rgb(230, 230, 240);
  color: rgb(50, 50, 100);
}
.toolbox .navbar__container {
  position: fixed;
  bottom: 0;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 96%;
  padding: 12px;
  border-radius: 12px 12px 0px 0px;
  background-color: rgb(255, 255, 255);
  transform: translateY(100vh);
  transition: transform 0.7s ease-in-out;
  z-index: 9999;
}
.toolbox .navbar__cross {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(236, 111, 93);
  transition: background-color 0.5s;
}
.toolbox .navbar__cross:active {
  background-color: rgb(230, 230, 240);
}
.toolbox .navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 15px;
  width: 100%;
}
.toolbox .navbar__link, .toolbox .navbar__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 7px;
  background-color: rgb(245, 245, 250);
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(36, 163, 255);
  transition: background-color 0.5s;
}
.toolbox .navbar__link:active, .toolbox .navbar__button:active {
  background-color: rgb(230, 230, 240);
}
.toolbox .navbar__link--current {
  color: rgb(240, 20, 90);
}
.toolbox .navbar__sublist {
  display: none;
}
@media (min-width: 768px) {
  .toolbox {
    padding-block: 50px 0px;
    padding-inline: 60px;
    grid-template-rows: 3;
    grid-template-columns: 1;
    row-gap: 30px;
  }
  .toolbox .menu {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    padding-block: 0px;
    padding-inline: 0px;
    background-color: transparent;
  }
  .toolbox .menu__list {
    display: flex;
    gap: 6px;
    list-style-type: "•";
    list-style-position: inside;
  }
  .toolbox .menu__item:nth-of-type(1) .menu__link {
    color: rgb(179, 179, 186);
  }
  .toolbox .menu__item:nth-of-type(1) .menu__link:focus-visible, .toolbox .menu__item:nth-of-type(1) .menu__link:hover {
    color: rgb(36, 163, 255);
  }
  .toolbox .menu__item:nth-of-type(2) .menu__link {
    font-weight: 700;
  }
  .toolbox .menu__item:nth-of-type(3) .menu__link {
    font-size: 24px;
    vertical-align: middle;
  }
  .toolbox .menu__item::marker {
    font-size: 1.5rem;
    color: rgb(230, 230, 240);
  }
  .toolbox .menu__link {
    font-size: 1rem;
    line-height: 20px;
    color: rgb(179, 179, 186);
    transition: color 0.5s;
  }
  .toolbox .menu__link--homepage, .toolbox .menu__link--services {
    color: rgb(255, 255, 255);
  }
  .toolbox .menu__link:focus-visible, .toolbox .menu__link:hover {
    color: rgb(240, 20, 90);
  }
  .toolbox .menu__callback {
    display: none;
  }
  .toolbox .logo {
    padding-block: 0px;
    margin-left: 0px;
  }
  .toolbox .logo__image {
    width: 130px;
  }
  .toolbox .logo__image[alt=slash] {
    width: 21px;
    height: 47px;
  }
  .toolbox .logo__text {
    font-size: 36px;
    line-height: 44px;
  }
  .toolbox .navbar {
    grid-row: 3;
    grid-column: 1;
    justify-self: start;
    display: block;
    justify-content: auto;
    align-items: auto;
    padding-inline: 0px;
  }
  .toolbox .navbar__burger {
    display: none;
  }
  .toolbox .navbar__container {
    display: none;
  }
  .toolbox .navbar__sublist {
    display: flex;
  }
  .toolbox .navbar__subitem {
    position: relative;
    padding-inline: 7.5px;
  }
  .toolbox .navbar__subitem:hover::after {
    scale: 1 1;
  }
  .toolbox .navbar__subitem::after {
    content: "";
    position: absolute;
    left: 6%;
    bottom: -4px;
    height: 2px;
    width: 88%;
    background-color: rgb(36, 163, 255);
    scale: 0 1;
    transition: scale 0.25s;
  }
  .toolbox .navbar__subitem--homepage::after, .toolbox .navbar__subitem--services::after {
    background-color: rgb(255, 255, 255);
  }
  .toolbox .navbar__subitem--current::after {
    background-color: rgb(240, 20, 90);
    scale: 1 1;
  }
  .toolbox .navbar__sublink, .toolbox .navbar__subbutton {
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    color: rgb(36, 163, 255);
  }
  .toolbox .navbar__sublink--homepage, .toolbox .navbar__sublink--services {
    color: rgb(255, 255, 255);
  }
  .toolbox .navbar__subbutton {
    background-color: transparent;
    cursor: pointer;
  }
  .toolbox .navbar__subbutton--homepage, .toolbox .navbar__subbutton--services {
    color: rgb(255, 255, 255);
  }
  .toolbox .navbar__sublink--current {
    color: rgb(240, 20, 90);
  }
  .toolbox .navbar .navbar__subbutton--active {
    color: rgb(240, 20, 90);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
  }
}
@media (min-width: 1024px) {
  .toolbox {
    grid-template-rows: 2;
    grid-template-columns: 2;
    gap: 16px;
  }
  .toolbox .menu {
    justify-self: end;
    grid-column: 2;
  }
  .toolbox .logo {
    grid-row: 1/span 2;
    align-self: center;
  }
  .toolbox .navbar {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
  }
}
@media (min-width: 1920px) {
  .toolbox {
    padding-inline: 160px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 30px;
  padding-inline: 30px;
  background-color: rgb(245, 245, 250);
}
.footer__line {
  height: 2px;
  width: 100%;
  background-color: rgb(230, 230, 240);
  margin-block: 0px 30px;
}
.footer__line--hidden {
  display: none;
}
.footer .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-block: 0px 21px;
}
.footer .address__info {
  font-size: 1rem;
  line-height: 20px;
  color: rgb(50, 50, 100);
}
.footer .address__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  color: rgb(36, 163, 255);
  transition: color 0.5s;
}
.footer .address__link:focus-visible, .footer .address__link:hover {
  color: rgb(0, 133, 255);
}
.footer .address__link:active {
  color: rgb(0, 108, 207);
}
.footer .address__bull {
  display: none;
}
.footer .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer .social__facebook {
  width: 38px;
  height: 38px;
  font-size: 38px;
  color: rgb(36, 163, 255);
  transition: color 0.5s;
}
.footer .social__facebook:focus-visible, .footer .social__facebook:hover {
  color: rgb(0, 133, 255);
}
.footer .social__facebook:active {
  color: rgb(0, 108, 207);
}
.footer .social__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer .social__number {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  color: rgb(70, 70, 110);
}
.footer .social__number:focus-visible, .footer .social__number:hover, .footer .social__number:active {
  color: rgb(240, 20, 90);
}
.footer .social__email {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  color: rgb(36, 163, 255);
}
.footer .social__email:focus-visible, .footer .social__email:hover {
  color: rgb(0, 133, 255);
}
.footer .social__email:active {
  color: rgb(0, 108, 207);
}
.footer .social__bull {
  display: none;
}
.footer .company {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 20px;
  color: rgb(179, 179, 186);
}
@media (min-width: 768px) {
  .footer {
    padding-inline: 60px;
  }
  .footer .address {
    flex-direction: row;
    margin-right: 95px;
  }
  .footer .address__bull {
    display: inline-block;
    font-size: 1rem;
    line-height: 20px;
    vertical-align: middle;
    color: rgb(179, 179, 186);
  }
  .footer .social {
    flex-direction: row;
  }
  .footer .social__contacts {
    flex-direction: row;
  }
  .footer .social__bull {
    display: inline-block;
    font-size: 1rem;
    line-height: 20px;
    vertical-align: middle;
    color: rgb(179, 179, 186);
  }
}
@media (min-width: 1024px) {
  .footer {
    display: grid;
    grid-template-rows: 30px repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: start;
  }
  .footer__line {
    grid-row: 1;
    grid-column: span 2;
  }
  .footer .address {
    grid-row: 2;
    grid-column: 1;
    margin-block: 0px;
    margin-right: 0px;
  }
  .footer .social {
    grid-row: 3;
    grid-column: 1;
  }
  .footer .company {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    margin-top: 0px;
  }
}
@media (min-width: 1920px) {
  .footer {
    padding-inline: 160px;
  }
}

@media (min-width: 1024px) {
  .footer--mod {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .footer--mod .address {
    grid-row: 1;
    grid-column: 1;
  }
  .footer--mod .social {
    grid-row: 2;
    grid-column: 1;
  }
  .footer--mod .company {
    grid-row: 1;
    grid-column: 2;
  }
}

.services {
  display: grid;
  gap: 30px;
  padding-block: 10px;
  padding-inline: 30px;
}
.services__heading {
  display: grid;
  gap: 10px;
}
.services__redirect {
  display: flex;
  gap: 0px;
  align-items: center;
  width: 95px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(36, 163, 255);
  transition: color 0.5s;
}
.services__redirect i {
  font-size: 1.2rem;
}
.services__redirect:focus-visible, .services__redirect:hover, .services__redirect:active {
  color: rgb(240, 20, 90);
}
.services__headline {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px;
  font-weight: 700;
  color: transparent;
}
.services__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services__image {
  aspect-ratio: 1;
  width: 92px;
  padding: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  margin-block: 0px 15px;
}
.services__link {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: rgb(36, 163, 255);
  transition: color 0.5s;
}
.services__link:focus-visible, .services__link:hover, .services__link:active {
  color: rgb(240, 20, 90);
}
.services__info {
  font-size: 16px;
  line-height: 26px;
  color: rgb(255, 255, 255);
}
@media (min-width: 768px) {
  .services {
    grid-template-rows: 120px repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding-inline: 60px;
  }
  .services__heading {
    grid-column: 1/span 2;
  }
  .services__headline {
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .services {
    grid-template-rows: 75px repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .services__heading {
    grid-column: 1/span 3;
  }
}

.background-gradient {
  padding-block: 0px 60px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.header-homepage .hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
  background-image: url("../images/homepage/BackgroundSymbol.png");
  background-size: cover;
  background-position: center;
}
.header-homepage .hero__title {
  max-width: 9ch;
  align-self: center;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: rgb(255, 255, 255);
}
.header-homepage .hero__button {
  align-self: center;
  width: 42px;
  height: 42px;
  margin-bottom: 30px;
  background-color: transparent;
  background-image: url("../images/homepage/chevron.png");
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  transform: rotateZ(0deg);
  transition: transform 0.5s linear, border-color 0.5s;
}
.header-homepage .hero__button:focus-visible, .header-homepage .hero__button:hover {
  border-color: rgb(240, 20, 90);
}
.header-homepage .hero__button--active {
  transform: rotateZ(-90deg);
}
@media (min-width: 768px) {
  .header-homepage .hero__title {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-block: 0px 120px;
  }
}
@media (min-width: 1024px) {
  .header-homepage .hero {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header-homepage .hero__title {
    margin-block: 0px 100px;
  }
}

.advantages {
  height: 490px;
  transition: all 0.3s ease-in-out;
}
.advantages--hidden {
  height: 0px;
  overflow: hidden;
  opacity: 0;
}
.advantages__buttons {
  display: flex;
  gap: 30px;
  padding-block: 30px 15px;
  padding-inline: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 30px;
}
.advantages__buttons::-webkit-scrollbar {
  display: none;
}
.advantages__button {
  background: linear-gradient(to left, #F0145A 0%, #EF8080 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px;
  font-weight: 700;
  color: rgb(179, 179, 186);
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.5s;
  scroll-snap-align: start;
}
.advantages__button:focus-visible, .advantages__button:hover {
  color: rgb(240, 20, 90);
}
.advantages__button--active {
  color: transparent;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-block: 15px 0px;
  margin-inline: 30px;
  padding-block: 30px 0px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
}
.advantages__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: rgb(255, 255, 255);
}
.advantages__info {
  font-size: 19px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}
@media (min-width: 768px) {
  .advantages {
    height: 460px;
  }
  .advantages--hidden {
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }
  .advantages__buttons {
    padding-block: 60px 30px;
    padding-inline: 60px;
    scroll-padding-inline: 60px;
  }
  .advantages__button {
    font-size: 38px;
  }
  .advantages__item {
    margin-block: 30px 0px;
    margin-inline: 60px;
    padding-block: 60px;
  }
  .advantages__title {
    font-size: 30px;
    line-height: 37px;
  }
}
@media (min-width: 1024px) {
  .advantages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    padding-inline: 60px;
  }
  .advantages--hidden {
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }
  .advantages__buttons {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    padding-block: 0px;
    padding-inline: 60px;
  }
  .advantages__item {
    flex-basis: 50%;
    justify-content: center;
    gap: 30px;
    height: 320px;
    margin-block: 65px;
    margin-inline: 0px;
    padding-inline: 60px 0px;
    border-top: none;
    border-left: 4px solid rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1440px) {
  .advantages {
    height: 480px;
    padding-inline: 180px;
  }
  .advantages--hidden {
    height: 1px;
    overflow: hidden;
    opacity: 0;
  }
  .advantages__buttons {
    flex-basis: 40%;
  }
  .advantages__item {
    flex-basis: 60%;
  }
}
@media (min-width: 1920px) {
  .advantages {
    height: 480px;
    padding-inline: 280px;
    padding-block: 0px;
  }
  .advantages--hidden {
    height: 1px;
    overflow: hidden;
    opacity: 0;
  }
  .advantages__buttons {
    flex-basis: 30%;
  }
  .advantages__item {
    flex-basis: 70%;
  }
}/*# sourceMappingURL=style.css.map */