$font-family: "Montserrat", sans-serif;
$font-size: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;

// mixins
$mobile: 375px;
$tablet-sd: 768px;
$tablet-hd: 1024px;
$desktop-sd: 1440px;
$desktop-hd: 1920px;